<form action="/HostManage/AddCommandTask/" method="post" id="TaskForm">
{% csrf_token %}
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
<h4 class="modal-title" id="TaskModalLabel"><i class="glyphicon glyphicon-plus"></i>新增命令任务</h4>
</div>
{% for field in form %}
<div class="modal-body">
    <div class="form-group">
        <label class="col-sm-3 control-label">{{ field.label }}</label>
        <div class="col-sm-8">
            <!-- <input type="text" class="form-control input-sm" id="name" name="name" placeholder="请输入主机组名字"> -->
            {{ field }}
        </div>
    </div>
</div>
{% endfor %}
<div class="error-tiper text-danger">
    <ul>
        {% for message in messages %}
        <li><h6{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h6></li>
        {% endfor %}
    </ul>
</div>
<div class="modal-footer">
    <button id="btn_TaskModalClose" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
    <button id="btn_TaskModalSubmit" type="button" class="btn btn-primary">确定</button>
</div>
</form>
<script>
$('#btn_TaskModalSubmit').click(function(){
    $.ajax({
        url:'/TaskManage/AddCommandTask/',
        type:'post',
        data:$('#TaskForm').serialize(),
        success:OnSuccessPost_Add,
    });
});
function OnSuccessPost_Add(msg){
    if(msg.ret==0){
        $('#btn_TaskModalClose').click();
        $('#searchForm').submit();
        toastr.success('任务添加成功！','信息');
    }
    else{
        $('#TaskModal .modal-content').html(msg);
    }
}
</script>
