
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h6 class="modal-title">分配主机</h6>
    </div>
    <div class="modal-body" style="padding-bottom: 10px;">
        <div class="content" id="setBranchs_Modal_content">
        <div class="row">
            <div class="col-sm-4">
                <div class="slimScrollDiv" style="position: relative; width: 100%; height: 400px;">
                    <div id="hostgroupTree" class="treeview" style="width: 100%; height: 400px;">
                        <ul class="list-group">
                            <li class="list-group-item node-areasTree" data-nodeid="0" style="">
                                <span class="icon">
                                    <i class="click-collapse glyphicon glyphicon-minus"></i>
                                </span>
                                <span class="icon"><i class="glyphicon glyphicon-stop"></i>
                                </span>全部
                            </li>
                            <li class="list-group-item node-areasTree" data-nodeid="1" style="">
                                <span class="indent"></span>
                                <span class="icon">
                                    <i class="glyphicon"></i>
                                </span>
                                <span class="icon">
                                    <i class="glyphicon glyphicon-stop"></i>
                                </span>总部
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="border-right: dashed; border-left: dashed;border-width: 1px;">
                <div class="slimScrollDiv" style="position: relative; width: 100%; height: 400px;">
                    <div class="form-group" id="detailSchoolList" style="width: 100%; height: 400px;">
                        {% csrf_token %}
                        <div class="checkbox i-checks">
                            <label>
                                <div class="icheckbox_square-green" style="position: relative;">
                                    <input id="selectAll" type="checkbox" value="0" style="position: absolute; opacity: 0;">
                                    <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                </div>
                                <i></i>全选
                            </label>
                        </div>
                        <div class="checkbox i-checks">
                            <label>
                                <div class="icheckbox_square-green" style="position: relative;">
                                    <input id="check_42" type="checkbox" value="42" style="position: absolute; opacity: 0;">
                                    <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                </div>
                                <i></i> 深圳CBD中心
                            </label>
                        </div>
                    </div>
                    <div class="slimScrollBar" style="background: rgb(170, 187, 204); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 5px; height: 74.4879px;">
                    </div>
                    <div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 5px;"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="slimScrollDiv" style="position: relative; width: 100%; height: 400px;">
                    <ol id="selectSchoolShow" style="width: 100%; height: 400px;">
                    </ol>
                    <div class="slimScrollBar" style="background: rgb(170, 187, 204); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 5px; height: 400px;"></div>
                    <div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 5px;"></div>
                </div>
            </div>
        </div>
    </div>


<script src="{% static 'Hplus/js/plugins/treeview/bootstrap-treeview.js'}"></script>
<script type="text/javascript">

</script>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" onclick="SetBranchsFunctions.RemoveAllSelectedShools();">清空</button>
        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" onclick="SetBranchsFunctions.SaveUserBranchs();">保存</button>
    </div>
