{% extends 'MainFrame/base.html' %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{% static 'Hplus/css/plugins/iCheck/custom.css' %}">
{% endblock %}

{% block content %}
<div class='md-col-12'>
    <ol class="breadcrumb">
      <li><a href="/TaskManage/FileDispatch/">文件分发</a></li>
      <li class="active">[{{ task.name }}]详情</li>
    </ol>
</div>
<form data-ajax="true" data-ajax-begin="tableLoading" data-ajax-method="Post" data-ajax-mode="replace" data-ajax-update="#tableArea" id="searchForm" method="post" role="form">
    <input type="hidden" name='id' value="{{ id }}">
    <input type="hidden" name='taskType' value="{{ taskType }}">
</form>
<div class="modal inmodal fade in" id="TaskModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>执行操作</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        <div class='row text-center'>
            &nbsp;<br>
            {%if assignhost%}
            <button id="btnAssign" name="btnSubmit" type="submit" class="btn btn-w-m btn-primary btn-sm">分配主机</button>
            {%endif%}
            {%if execute%}
            <button id="btnExecute" type="button" class="btn btn-w-m btn-primary btn-sm">执行</button>
            {%endif%}
            {%if reexecute%}
            <button id="btnRexcute" type="button" class="btn btn-w-m btn-primary btn-sm">重新执行</button>
            {%endif%}
        </div>
    </div>
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="example-wrap">
                <div class="row">
                    <div id="tableArea" class="grid-view">
                    {% include 'TaskManage/filetaskdetailtablelist.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block tail %}
<script src="{% static 'Hplus/js/content.js' %}"></script>
<script src="{% static 'MainFrame/js/jquery.unobtrusive-ajax.min.js' %}"></script>
<script src="{% static 'Hplus/js/plugins/toastr/toastr.min.js' %}"></script>
<script>
$(function(){
    $('#searchForm').submit();
});
function tableLoading() {
    var $tbody = $("#tableAreaTbody");
    var $messageArea = $("#messageArea");

    if ($tbody.length > 0) {
        $tbody.empty().append(`<tr><td colspan="14" style="text-align:center">数据加载中...</td></tr>`);
    } else {
        if ($messageArea.length > 0) {
            $messageArea.text("数据加载中...");
        }
    }
}

function reloadTable() {
    $("#searchForm").submit();
}

function AjaxPaginator(path, page,updateId){
    $.ajax({
        url:path+'?page='+page,
        method:'post',
        data:$('#searchForm').serialize(),
        success:function(html){
            $(updateId).html(html);
        }
    });
    tableLoading();
}
$('#btnAssign').click(function(){
    $.ajax({
        url:'/TaskManage/AssignHost/?taskType={{ taskType }}&id={{ id }}',
        type:'get',
        success:function(html){
            $('#TaskModal .modal-content').html(html);
        },
        error:function(e){
            $('#TaskModal .modal-content').html(e.responseText);
        }
    });
    $('#TaskModal').modal();
});
</script>
<script>
    $(function(){
        var schema = window.location.protocol=='https:' ? 'wss:' : 'ws:';
        var host =  window.location.host;
        socket = new ReconnectingWebSocket(schema+"//"+ host+"/TaskManage/file/{{ id }}/");
        socket.onmessage = function(e){
            var jdata = JSON.parse(e.data);
            if (jdata.action=='task'){
                id = jdata.id;
                var $task = $('#filetask_'+id);
                if ($task.length==0){
                    $('#nextpage').click();
                }
                if(jdata.status!=undefined)$task.find('td:nth(5)').text(jdata.status);
                if(jdata.result!=undefined)$task.find('td:nth(6)').text(jdata.result);
            }
        }
        $('#btnExecute').click(function(){
            socket.send(JSON.stringify({action:'execute'}));
        });
        $('#btnRexcute').click(function(){
            socket.send(JSON.stringify({action:'reexecute'}));
        });
    });
    function FileTaskExecute(id){
        socket.send(JSON.stringify({action:'singleexecute',id:id}));
    }
    function FileTaskReExecute(id){
        socket.send(JSON.stringify({action:'singlereexecute',id:id}));
    }
</script>
{% endblock %}
