<form action="/HostManage/AddUser/" method="post" id="AddUserForm">
{% csrf_token %}
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
<h4 class="modal-title" id="UserModalLabel"><i class="glyphicon glyphicon-plus"></i>新增用户</h4>
</div>
{% for field in form %}
<div class="modal-body">
    <div class="form-group">
        <label class="col-sm-3 control-label">{{ field.label }}</label>
        <div class="col-sm-8">
            {{ field }}
        </div>
    </div>
</div>
{% endfor %}
<div class="error-tiper text-danger">
    {{ form.errors }}
</div>
<div class="modal-footer">
    <button id="btn_UserModalClose" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
    <button id="btn_UserModalSubmit" type="button" class="btn btn-primary">确定</button>
</div>
</form>
<script>
$('#btn_UserModalSubmit').click(function(){
    $.ajax({
        url:'/SystemManage/AddUser/',
        type:'post',
        data:$('#AddUserForm').serialize(),
        success:OnSuccessPost_Add,
    });
});
function OnSuccessPost_Add(msg){
    if(msg.ret==0){
        $('#btn_UserModalClose').click();
        toastr.success('主机组添加成功！','信息');
        $('#searchForm').submit();
    }
    else if(msg.ret==-1){
        alert(msg.msg);
    }
    else{
        $('#UserModal .modal-content').html(msg);
    }
}
</script>
