{% if request.method == 'GET' %}
<div class="text-center" id="messageArea"><i class="glyphicon glyphicon-exclamation-sign"></i>请选择查询条件...</div>
{% else %}
<div style="float:left;padding-bottom:10px;width:100%;"> 共 {{ paginator.num_pages }} 页 {{ paginator.count }} 条记录，当前为第 {{ page }} 页</div>
<div class="grid-view">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th style="width:50%">主机组名称</th>
                <th style="width:50%">操作</th>
            </tr>
        </thead>
        <tbody id="tableAreaTbody">
            {% if not cur_page.object_list %}
                <tr>
                    <td colspan="7" style="text-align:center">没有数据！</td>
                </tr>
            {% else %}
                {% for data in cur_page.object_list %}
                    <tr>
                        <td>{{ data.name }}</td>
                        <td>
                            <button class="btn btn-primary" onclick='Delete({{ data.id }})'>删除</button>
                            <button class="btn btn-primary" onclick='Edit({{ data.id }})'>编辑</button>
                            <button class="btn btn-primary" onclick='AssignHost({{ data.id }})'>分配主机</button>
                            <button class="btn btn-primary" onclick='AssignUser({{ data.id }})'>分配用户</button>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
</tbody></table></div>
{% if paginator.num_pages > 1 %}
    {% include 'paginator.html' %}
{% endif %}
{% endif %}
