<form method="post" id="PasswordForm">
{% csrf_token %}
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
<h4 class="modal-title" id="UserModalLabel"><i></i>重置密码</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <label class="col-sm-3 control-label">新密码</label>
        <div class="col-sm-8">
            <input type="password" name='pass1' class='form-control'>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="form-group">
        <label class="col-sm-3 control-label">重复新密码</label>
        <div class="col-sm-8">
            <input type="password" name='pass2' class='form-control'>
        </div>
    </div>
</div>
<div class="error-tiper text-danger">
    {{ errors }}
</div>
<div class="modal-footer">
    <button id="btn_UserModalClose" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
    <button id="btn_UserModalSubmit" type="button" class="btn btn-primary">确定</button>
</div>
</form>
<script>
$('#btn_UserModalSubmit').click(function(){
    $.ajax({
        url:'/SystemManage/ResetPassword/{{ id }}/',
        type:'post',
        data:$('#PasswordForm').serialize(),
        success:OnSuccessPost,
    });
});
function OnSuccessPost(msg){
    if(msg.ret==0){
        $('#btn_UserModalClose').click();
        toastr.success('密码重置成功！','信息');
    }
    else if(msg.ret==-1){
        alert(msg.msg);
    }
    else{
        $('#UserModal .modal-content').html(msg);
    }
}
</script>
