
<form action="/HostManage/EditHost/{{ host_id }}" method="post" id="HostAddForm">
{% csrf_token %}
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
<h4 class="modal-title" id="hostModalLabel"><i class="glyphicon glyphicon-plus"></i>主机信息</h4>
</div>
{% for field in form %}
<div class="modal-body">
    <div class="form-group">
        <label class="col-sm-3 control-label">{{ field.label }}</label>
        <div class="col-sm-8">
            <!-- <input type="text" class="form-control input-sm" id="CName" name="CName" placeholder="输入产品中文名称"> -->
            {{ field }}
        </div>
    </div>
</div>
{% endfor %}
<div class="error-tiper text-danger">
    <ul>
        {% for message in messages %}
        <li><h6{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h6></li>
        {% endfor %}
    </ul>
</div>
<div class="modal-footer">
    <button id="btn_HostModalClose" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
    <button id="btn_HostModalSubmit" type="button" class="btn btn-primary">确定</button>
</div>
</form>
<script>
$('#btn_HostModalSubmit').click(function(){
    $.ajax({
        url:'/HostManage/EditHost/{{ host_id }}',
        type:'post',
        data:$('#HostAddForm').serialize(),
        success:OnSuccessPost_Add,
    });
});
</script>
